<!--<h1>{{ title }} {{ description }}</h1>-->
<!--<h2>{{ description }}</h2>-->

<!--<button (click)="sayHello()">Click me</button>-->
<!--<button (click)="toggleDescription()">Toggle Description</button>-->

<!--<p *ngIf="showDescription">{{ description }}</p>-->

<!--<div>-->
<!--  {{ catNames }}-->
<!--</div>-->

<!--<div *ngFor="let name of catNames">-->
<!--  {{ name }}-->
<!--</div>-->

<!--<div>-->
<!--  <span *ngFor="let name of catNames; let i = index">-->
<!--    {{ name }}{{ i < catNames.length - 1 ? ',' : '' }}-->
<!--  </span>-->
<!--</div>-->

<app-header></app-header>
<router-outlet></router-outlet>
